html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

// Overriding Bootstrap body background-color
html body {
  background-color: #c1d0f0;
}

// Styling the carousel in the header including media query for smaller screen
.carousel-inner img {
  width: 100%;
  height: 30rem;
}

@media screen and (max-width: 1225px) {
  .carousel-inner img {
    width: 100%;
    height: 15rem;
  }
}

#headerCarousel .carousel-caption {
  color: #ffffff;
  left: auto;
}

// Additional styling to Bootstrap navigation - including a couple changes for smaller screens
nav {
  background-color: #000080;
}

.navbar-nav {
  font-size: 2em;
}

@media screen and (max-width: 1024px) {
  .navbar-nav {
    font-size: 1.5em;
  }
}

.nav-item {
  padding: 2rem;
  border-right: 1px solid #ffffff;
}

.nav-item:last-of-type {
  border-right: none;
}

@media screen and (max-width: 767px) {
  .nav-item {
    border: none;
  }
}

.jumbotron {
  margin-top: 2rem;
}

// *****COMMENTING OUT NON-BOOTSTRAP NAVBAR STYLING (THE ONE WITH IMAGES) TO KEEP THE CODE BUT NOT USE IT
// ul {
//   list-style-type: none;
//   left: 0;
//   margin: 0;
//   padding: 1rem;
// }
//
//
// @media screen and (max-width: 1025px) {
//   ul {
//     padding: 0;
//     margin-top: 3rem;
//   }
// }
//
// .nav {
//   width: 100%;
// }
//
// .navigation {
//   display: inline-block;
//   padding: 1rem;
//   border-right: 3px solid #003399;
// }
//
// @media screen and (max-width: 767px) {
//   .navigation {
//     border: none;
//   }
// }
//
// .navigation a {
//   display: block;
//   text-decoration: none;
//   color: white;
// }
//
// @media screen and (max-width: 767px) {
//   .navigation a {
//     padding: 0;
//   }
// }
//
// .navigation:last-of-type {
//   border-right: none;
// }
//
// figure {
//   height: 8rem;
//   width: 15rem;
//   display: block;
//   position: relative;
//   overflow: hidden;
// }
//
// figcaption {
//   position: absolute;
//   background: rgba(0,0,0,0.75);
//   color: white;
//   margin-left: 3px;
//   padding: 10px 10px;
//   opacity: 0;
//   bottom: 0;
//   left: -30%;
//   transition-property: all;
//   transition-timing-function: ease;
//   transition-duration: 0.6s;
// }
//
// @media screen and (max-width: 1025px) {
//   figure {
//     height: 6rem;
//     width: 12rem;
//     display: block;
//     position: relative;
//     overflow: hidden;
//   }
// }
//
// @media screen and (max-width: 1025px) {
//   figcaption {
//     opacity: 1;
//     background: rgba(0,0,0,1.0);
//     text-align: center;
//     left: 0;
//     transition-property: none;
//   }
// }
//
// @media screen and (max-width: 767px) {
//   figcaption h3 {
//     margin-top: 1rem;
//   }
// }
//
// figure:hover figcaption {
//   opacity: 1;
//   left: 0;
// }
// END NON-BOOTSTRAP NAVBAR STYLING *****

// Adding margins and some colors for various headers
.homeHeader {
  margin: 1rem;
}

.starsHeader {
  margin: 1rem;
}

.moviesHeader {
  margin: 1rem;
}

.triviaHeader {
  margin: 1rem;
}

.triviaHeader a {
  color: #e65c00;
  font-weight: 700;
}

// Changing font sizes for headers with "display-#" classes for smaller screens

@media screen and (max-width: 1025px) {
  h3.display-3 {
    font-size: 1.5em;
    font-weight: 600;
  }
}

@media screen and (max-width: 1025px) {
  h4.display-4 {
    font-size: 1.5em;
    font-weight: 600;
  }
}

footer {
  clear: both;
  background-color: #000080;
  padding: 1rem;
}
