html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
  display: grid;
  grid-template-columns: auto 374px 826px auto;
  grid-template-rows: 149px 81px 649px 152px;
}

.head {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head__text {
  margin-top: 2rem;
  color: $white;
  font-size: $sans-size;
  font-family: $sans-font;
}

.nav {
  background: $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  flex: auto;
}

.nav-wrap {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.nav__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.nav__item {
  display: inline-block;
  font-size: $sans-size;
  font-family: $sans-font;
  padding: 0.5rem 0.5rem;
  margin-right: 6rem;
    &:last-of-type {
      margin: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: $white;
}

.sidebar {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  background: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__text {
  color: $white;
  font-size: $sans-size;
  font-family: $sans-font;
}

.content {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__text {
  color: $white;
  font-size: $sans-size;
  font-family: $sans-font;
}

.foot {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot__text {
  color: $white;
  font-size: $sans-size;
  font-family: $sans-font;
}
