html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.head {
  grid-area: header;
}

.navigation {
  grid-area: nav;
}

.sidebar {
  grid-area: left;
}

.content {
  grid-area: right;
}

.foot {
  grid-area: footer;
}

// Creating the grid for the entire page
.main {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "left"
    "right"
    "footer"
  // grid-template-columns: auto 374px 826px auto;
  // grid-template-rows: 149px 81px 649px 152px;
}

@media (min-width: 500px) {
  .main {
    grid-template-columns: 1fr 1.5fr 3.5fr 1fr;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "left content content"
      "footer footer footer footer";
  }
  nav ul {
    display: block;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    padding: 0 0;
  }
}

// Styling the header (including image) and setting the grid locations
.head {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  background-image: url("/images/film-reel.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    margin-top: 2rem;
    color: $white;
    font-size: $sans-size;
    font-family: $sans-font;
  }
}

// Styling the navigation and setting grid locations
.navigation {
  background: $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  flex: auto;

  &-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    max-width: 1200px;
  }

  &__list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }

  &__item {
    display: inline-block;
    font-size: $sans-size;
    font-family: $sans-font;
    padding: 0.5rem 0.5rem;
    margin-right: 6rem;
      &:last-of-type {
        margin: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
  }
}

// Styling the sidebar section and setting the grid locations
.sidebar {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  background: $purple;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: $white;
    font-size: $sans-size;
    font-family: $sans-font;
  }
}

// Styling the main content section and setting the grid locations
.content {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background: $orange;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: $white;
    font-size: $sans-size;
    font-family: $sans-font;
  }
}

// Styling the footer section and setting the grid locations
.foot {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: $white;
    font-size: $sans-size;
    font-family: $sans-font;
  }
}
