// Colors
$white: #ffffff;
$red: #f1352b;
$green: #7acb00;
$purple: #6e27c5;
$orange: #ff6600;
$blue: #150f96;

// Font styling for size and font used
$sans-font: 'Helvetica Neue', Arial, sans-serif;
$text-size: 1em;
$title-size: 32px;
$list-size: 1.5em;
