html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 59.5rem;
    height: auto;
    border: 3rem solid #f6f5f6;
    border-radius: .25rem;
    box-shadow: 0.25rem 0.25rem $grayshadow;
    outline: 1px solid $grayoutline;
    margin-top: 2rem;
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

figure {
  display: inline-block;
}

figure img {
  vertical-align: top;
  margin-top: 1rem;
}

figure figcaption {
  text-align: center;
}

figure figcaption:first-of-type {
  margin-top: 1rem;
}

figure figcaption:last-of-type {
  margin-top: .5rem;
}

.intro {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .intro {
  margin-left: 1rem;
  width: 60%;
  height: 100%;
  }
}

.intro-details {
  padding-left: 2rem;
  justify-content: center;
  align-self: center;
  background-color: #f6f5f6;
  height: 100%;
  width: 60%;
  margin-left: 5rem;
}

@media screen and (max-width: 768px) {
  .intro-details {
  margin-left: 1rem;
  width: 60%;
  height: 100%;
  }
}

.details {
  &__label {
    display: inline-block;
    color: $grayfont;
    font-family: $font;
    font-weight: 700;
  }

  &__value {
    display: inline-block;
    color: $grayfont;
    font-family: $font;
    font-weight: 400;
  }

  &__image {
    border-radius: 50%;
    width: 226px;
    height: 226px;
  }

  &__linkedimg {
    float: left;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
  }

  &__name {
    color: $grayfont;
    font-family: $font;
    font-weight: 700;
    font-size: 1.25rem;
  }

  &__title {
    color: $grayfont;
    font-family: $font;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
  }

}
