// Colors

// Gray border
$gray: #f6f5f6;

// Gray box shadow
$grayshadow: #bfbfbf;

// Gray box outline
$grayoutline: #e6e6e6;

// Gray used for font color
$grayfont: #707070;

// Font family used
$font: Helvetica, Arial, sans-serif;
